- name: Install k6
  uses: grafana/setup-k6-action@v1

- name: Install 1Password CLI
  uses: 1password/install-cli-action@v1

- name: Run k6 and send results to Grafana Cloud
  env:
    OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
    K6_CLOUD_TOKEN: ${{ secrets.K6_CLOUD_TOKEN }}
    K6_CLOUD_PROJECT_ID: ${{ secrets.K6_CLOUD_PROJECT_ID }}
  run: |
    op run --env-file=".env.qa" -- k6 run --out cloud tests/loadtest.js