name: k6 Load Test

on:
  workflow_dispatch: {}

jobs:
  k6_cloud_test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup k6
        uses: grafana/setup-k6-action@v1

      - name: Run k6 test in Cloud
        uses: grafana/run-k6-action@v1
        with:
          path: tests/loadtest.js
        env:
          AUTH_COOKIES: ${{ secrets.AUTH_COOKIES }}
          K6_CLOUD_PROJECT_ID: ${{ secrets.K6_PROJECT_ID }}
          K6_CLOUD_TOKEN: ${{ secrets.K6_CLOUD_API_TOKEN }}
