
name: k6 Load Test

on:
  workflow_dispatch: {}

jobs:
  k6_cloud_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: grafana/setup-k6-action@v1
      - uses: grafana/run-k6-action@v1
        with:
          script: tests/loadtest.js
          cloud: true
          cloud-project-id: ${{ secrets.K6_PROJECT_ID }}
          token: ${{ secrets.K6_CLOUD_API_TOKEN }}
